.container {
  height: 100%;
  //max-width: 144rem;
  //max-height: 99rem;
  //min-height: 99rem;
  //margin: 0 auto;
  background-image: url(/app/assets/img/home/background-home-desktop.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}