.l-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Barlow Condensed';
  padding-top: 4rem;
  padding-left: 5.5rem;

  @include respond(tablet) {
    padding: 0 0 0 3.9rem;
  }

  @include respond(mobile) {
    padding: 2.4rem 2.4rem 0;
  }

  .logo {
    //@include respond(mobile) {
    //  width: 4rem;
    //  height: 4rem;
    //}

    .icon-logo {
      //
    }
  }

  .hamburger {
    display: none;

    @include respond(mobile) {
      display: inline-block;
    }
  }
}