.bg-home {
  background-image: url(/app/assets/img/home/background-home-desktop.jpg);

  @include respond(tablet) {
    background-image: url(/app/assets/img/home/background-home-tablet.jpg);
  }

  @include respond(mobile) {
    background-image: url(/app/assets/img/home/background-home-mobile.jpg);
  }
}

.intro {
  padding: 25.1rem 16.5rem 0;
  display: flex;
  justify-content: space-between;
  color: #D0D6F9;

  @include respond(tablet) {
    padding: 10.6rem 15.9rem 0;
    flex-direction: column;
  }

  @include respond(mobile) {
    padding: 4.8rem 2.4rem 0;
    //flex-direction: column;
  }


  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include respond(tablet) {
      text-align: center;
    }

    @include respond(mobile) {
      text-align: center;
    }
  }

  &__heading {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include respond(tablet) {
      font-size: 2rem;
      letter-spacing: 3.375px;
      font-weight: 400;
    }

    @include respond(mobile) {
      font-size: inherit;
      font-weight: 400;
      line-height: 1.9rem;
      letter-spacing: 2.7px;
    }

    span {
      margin: 2.4rem 0;

      @include respond(tablet) {
        line-height: 15rem;
      }

      @include respond(mobile) {
        font-size: 8rem;
        font-weight: 400;
        line-height: 10rem;
        margin: 1.6rem 0;
      }
    }
  }

  &__paragraph {
    line-height: 3.2rem;
    width: 42rem;

    @include respond(tablet) {
      width: 44rem;
      line-height: 2.8rem;
    }

    @include respond(mobile) {
      font-size: 1.5rem;
      line-height: 2.5rem;
      width: 32.7rem;
    }
  }

  button {
    width: 27.4rem;
    height: 27.4rem;
    background-color: #fff;
    border: none;
    border-radius: 50%;
    align-self: flex-end;
    cursor: pointer;
    position: relative;

    @include respond(tablet) {
      width: 24.2rem;
      height: 24.2rem;
      letter-spacing: 2px;
      align-self: center;
      margin-top: 15.6rem;
    }

    @include respond(mobile) {
      width: 15rem;
      height: 15rem;
      margin-top: 8.1rem;
      font-size: 2rem;
      letter-spacing: 1.25px;
    }

    &:hover {
      animation: wave 1s infinite;
    }
  }
}


