*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  color: #fff;
}

body {
  font-family: "Barlow", sans-serif;
  font-size: 1.6rem;
}

html {
  font-size: 62.5%;
}

@-webkit-keyframes wave {
  0% {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  100% {
    -webkit-box-shadow: 0 0 0 10rem rgba(255, 255, 255, 0.1);
            box-shadow: 0 0 0 10rem rgba(255, 255, 255, 0.1);
  }
}

@keyframes wave {
  0% {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  100% {
    -webkit-box-shadow: 0 0 0 10rem rgba(255, 255, 255, 0.1);
            box-shadow: 0 0 0 10rem rgba(255, 255, 255, 0.1);
  }
}
@font-face {
  font-family: "Barlow";
  src: url(/app/assets/fonts/Barlow-Regular.ttf);
}
@font-face {
  font-family: "Barlow Condensed";
  src: url(/app/assets/fonts/BarlowCondensed-Regular.ttf);
}
@font-face {
  font-family: "Belle Fair";
  src: url(/app/assets/fonts/Bellefair-Regular.ttf);
}
.heading-1,
.heading-2,
.heading-3,
.heading-4,
.heading-sub-1 {
  font-family: "Belle Fair";
}

.heading-5,
.heading-sub-2 {
  font-family: "Barlow Condensed";
}

.heading-1 {
  font-size: 15rem;
  font-weight: 400;
  color: #fff;
  line-height: 17.2rem;
}

.heading-2 {
  font-size: 10rem;
}

.heading-3 {
  font-size: 5.6rem;
}

.heading-4 {
  font-size: 3.2rem;
}

.heading-5 {
  font-size: 2.8rem;
  letter-spacing: 4.75px;
}

.heading-sub-1 {
  font-size: 2.8rem;
}

.heading-sub-2 {
  font-size: 1.4rem;
  letter-spacing: 2.35px;
}

.text-uppercase {
  text-transform: uppercase;
}

.d-none {
  display: none;
}

.l-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Barlow Condensed";
  padding-top: 4rem;
  padding-left: 5.5rem;
}
@media only screen and (max-width: 48em) {
  .l-header {
    padding: 0 0 0 3.9rem;
  }
}
@media only screen and (max-width: 23.4375em) {
  .l-header {
    padding: 2.4rem 2.4rem 0;
  }
}
.l-header .hamburger {
  display: none;
}
@media only screen and (max-width: 23.4375em) {
  .l-header .hamburger {
    display: inline-block;
  }
}

.bg-container {
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media only screen and (max-width: 90em) {
  .icon-hamburger {
    display: none;
  }
}
@media only screen and (max-width: 48em) {
  .icon-hamburger {
    display: none;
  }
}
@media only screen and (max-width: 23.4375em) {
  .icon-hamburger {
    display: inline-block;
    position: absolute;
    top: 3.3rem;
    right: 2.4rem;
  }
}

@media only screen and (max-width: 90em) {
  .icon-close {
    display: none;
  }
}
@media only screen and (max-width: 48em) {
  .icon-close {
    display: none;
  }
}
@media only screen and (max-width: 23.4375em) {
  .icon-close {
    display: inline-block;
    position: absolute;
    top: 3.4rem;
    right: 2.6rem;
  }
}

.nav-mobile--active {
  display: inline-block !important;
}

.nav {
  background: rgba(255, 255, 255, 0.04);
  -webkit-backdrop-filter: blur(8.15485rem);
          backdrop-filter: blur(8.15485rem);
  position: relative;
}
@media only screen and (max-width: 23.4375em) {
  .nav {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    width: 25.4rem;
    height: 100%;
    z-index: 10;
  }
}
.nav::before {
  content: "";
  height: 1px;
  width: 47.3rem;
  background-color: #fff;
  mix-blend-mode: normal;
  opacity: 0.25;
  position: absolute;
  top: 50%;
  left: -55%;
}
@media only screen and (max-width: 48em) {
  .nav::before {
    display: none;
  }
}
.nav__list {
  list-style: none;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 3.8rem 16.5rem 3.8rem 12.3rem;
}
@media only screen and (max-width: 48em) {
  .nav__list {
    padding: 3.9rem 4.7rem;
  }
}
@media only screen and (max-width: 23.4375em) {
  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 11.8rem 0 0 3.2rem;
  }
}
.nav__item {
  letter-spacing: 2.7px;
}
.nav__item:not(:last-child) {
  margin-right: 4.8rem;
}
@media only screen and (max-width: 48em) {
  .nav__item:not(:last-child) {
    margin-right: 3.7rem;
  }
}
@media only screen and (max-width: 23.4375em) {
  .nav__item:not(:last-child) {
    margin-bottom: 3.7rem;
    margin-right: 0;
  }
}
.nav__number {
  font-weight: 600;
}
@media only screen and (max-width: 48em) {
  .nav__number {
    display: none;
  }
}
@media only screen and (max-width: 23.4375em) {
  .nav__number {
    display: inline-block;
  }
}
.nav__link {
  padding: 3.8rem 0;
  text-decoration: none;
  color: inherit;
  position: relative;
}
@media only screen and (max-width: 48em) {
  .nav__link {
    padding: 3.9rem 0;
  }
}
@media only screen and (max-width: 23.4375em) {
  .nav__link {
    padding: 0 100% 0 0;
  }
}
.nav__link:not(.nav__link--active)::after {
  content: "";
  width: 100%;
  height: 3px;
  background: #fff;
  mix-blend-mode: normal;
  opacity: 0.5;
  position: absolute;
  bottom: 0;
  left: 0;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}
@media only screen and (max-width: 23.4375em) {
  .nav__link:not(.nav__link--active)::after {
    width: 4px;
    height: 3.1rem;
    bottom: auto;
    left: auto;
    top: 0;
    right: 0;
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
}
.nav__link:hover:not(.nav__link--active)::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}
@media only screen and (max-width: 23.4375em) {
  .nav__link:hover:not(.nav__link--active)::after {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}
.nav__link:active::after, .nav__link--active::after {
  content: "";
  width: 100%;
  height: 3px;
  background-color: #fff;
  position: absolute;
}
@media only screen and (max-width: 90em) {
  .nav__link:active::after, .nav__link--active::after {
    bottom: 0;
    left: 0;
  }
}
@media only screen and (max-width: 23.4375em) {
  .nav__link:active::after, .nav__link--active::after {
    top: 0;
    right: 0;
    bottom: auto;
    left: auto;
    width: 4px;
    height: 3.1rem;
  }
}

.bg-home {
  background-image: url(/app/assets/img/home/background-home-desktop.jpg);
}
@media only screen and (max-width: 48em) {
  .bg-home {
    background-image: url(/app/assets/img/home/background-home-tablet.jpg);
  }
}
@media only screen and (max-width: 23.4375em) {
  .bg-home {
    background-image: url(/app/assets/img/home/background-home-mobile.jpg);
  }
}

.intro {
  padding: 25.1rem 16.5rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #D0D6F9;
}
@media only screen and (max-width: 48em) {
  .intro {
    padding: 10.6rem 15.9rem 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media only screen and (max-width: 23.4375em) {
  .intro {
    padding: 4.8rem 2.4rem 0;
  }
}
.intro__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media only screen and (max-width: 48em) {
  .intro__content {
    text-align: center;
  }
}
@media only screen and (max-width: 23.4375em) {
  .intro__content {
    text-align: center;
  }
}
.intro__heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media only screen and (max-width: 48em) {
  .intro__heading {
    font-size: 2rem;
    letter-spacing: 3.375px;
    font-weight: 400;
  }
}
@media only screen and (max-width: 23.4375em) {
  .intro__heading {
    font-size: inherit;
    font-weight: 400;
    line-height: 1.9rem;
    letter-spacing: 2.7px;
  }
}
.intro__heading span {
  margin: 2.4rem 0;
}
@media only screen and (max-width: 48em) {
  .intro__heading span {
    line-height: 15rem;
  }
}
@media only screen and (max-width: 23.4375em) {
  .intro__heading span {
    font-size: 8rem;
    font-weight: 400;
    line-height: 10rem;
    margin: 1.6rem 0;
  }
}
.intro__paragraph {
  line-height: 3.2rem;
  width: 42rem;
}
@media only screen and (max-width: 48em) {
  .intro__paragraph {
    width: 44rem;
    line-height: 2.8rem;
  }
}
@media only screen and (max-width: 23.4375em) {
  .intro__paragraph {
    font-size: 1.5rem;
    line-height: 2.5rem;
    width: 32.7rem;
  }
}
.intro button {
  width: 27.4rem;
  height: 27.4rem;
  background-color: #fff;
  border: none;
  border-radius: 50%;
  -ms-flex-item-align: end;
      align-self: flex-end;
  cursor: pointer;
  position: relative;
}
@media only screen and (max-width: 48em) {
  .intro button {
    width: 24.2rem;
    height: 24.2rem;
    letter-spacing: 2px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin-top: 15.6rem;
  }
}
@media only screen and (max-width: 23.4375em) {
  .intro button {
    width: 15rem;
    height: 15rem;
    margin-top: 8.1rem;
    font-size: 2rem;
    letter-spacing: 1.25px;
  }
}
.intro button:hover {
  -webkit-animation: wave 1s infinite;
          animation: wave 1s infinite;
}

.bg-destination {
  background-image: url(/app/assets/img/destination/background-destination-desktop.jpg);
}
@media only screen and (max-width: 48em) {
  .bg-destination {
    background-image: url(/app/assets/img/destination/background-destination-tablet.jpg);
  }
}
@media only screen and (max-width: 23.4375em) {
  .bg-destination {
    background-image: url(/app/assets/img/destination/background-destination-mobile.jpg);
  }
}

.destination {
  padding: 7.6rem 16.3rem 0 16.65rem;
}
.destination .heading-5 span {
  font-weight: 700;
  opacity: 0.25;
}
.destination .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 6.4rem;
}
.destination__img {
  width: 44.5rem;
  height: 44.5rem;
  margin-top: 3.3rem;
  margin-right: 15.7rem;
}
.destination__img img {
  max-width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.destination__info nav {
  margin-bottom: 4.9rem;
}
.destination__info .nav__list {
  padding: 0;
}
.destination__info .nav__link {
  padding-bottom: 1.2rem;
  padding-top: 0;
}
.destination__name {
  line-height: 11.46rem;
  font-weight: 400;
  text-transform: uppercase;
}
.destination__description {
  width: 44.4rem;
  color: #D0D6F9;
  font-size: 1.8rem;
  line-height: 3.2rem;
  position: relative;
}
.destination__description::after {
  content: "";
  width: 44.4rem;
  height: 1px;
  background-color: #383B4B;
  position: absolute;
  bottom: -5.4rem;
  left: 0;
}
.destination__statistic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 8.2rem;
  text-transform: uppercase;
}
.destination__statistic-distance {
  margin-right: 7.9rem;
}
.destination__statistic .heading-sub-2 {
  margin-bottom: 1.2rem;
}